* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameGrid {
  width: 500px;
  height: 500px;
  border: 1px solid purple;
  flex-wrap: wrap;
}
.gameGrid .square {
  border: 1px solid green;
  width: 32%;
  height: 32%;
  display: inline-block;
}